@charset "UTF-8";
@import "header.css";
@import "navbar.css";
@import "footer.css";
@import "startup-animations.css";
@import "details.css";
@import "../common/main.css";

body {
	color: white;
	font-family: "JetBrainsMonoNL NFM", "FixedsysMono Nerd Font Mono", "Fixedsys Excelsior 3.01", monospace;
	font-size: 16px;
	tab-size: 4;
	background: url("/assets/images/background.png") center center no-repeat fixed;
	background-size: cover;
}

body::selection {
	color: currentColor;
	background: dimgray;
}

main {
	padding: 1em 0 1em 0;
	overflow: auto;
}

pre, p {
	font: inherit;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}

ol {
	margin: 0;
	padding-left: 2em;
}

ul {
	margin: 0;
	padding-left: 1.5em;
}

strong {
	font-size: inherit;
	font-weight: inherit;
	text-decoration: underline;
	color: gold;
}

em {
	color: gray;
}

a {
	color: inherit;
	text-decoration: dotted underline lightgray;
	transition: text-decoration 0.5s;
}

a:hover {
	text-decoration-color: lightskyblue;
}

table {
	text-align: center;
	border-collapse: collapse;
}

th, td {
	padding: 0 2em 0 2em;
	border: gray 1px solid;
}

noscript {
	color: red;
}