@charset "UTF-8";

.status-available::before {
	content: "AVAILABLE";
	color: green;
}

.status-not-available::before {
	content: "NOT AVAILABLE";
	color: red;
}

.status-partially-available::before {
	content: "PARTIALLY AVAILABLE";
	color: yellow;
}

.status-not-implemented::before {
	content: "NOT IMPLEMENTED";
	color: gray;
}