@charset "UTF-8";
@import "default/header.css";
@import "default/navbar.css";
@import "default/footer.css";
@import "default/startup.css";

@font-face {
	font-family: "Fixedsys Excelsior 3.01";
	src: url("/assets/fonts/FSEX300.ttf");
}

@font-face {
	font-family: "FixedsysMono Nerd Font Mono";
	src: url("/assets/fonts/FixedsysMono_Mod-NerdFont.ttf");
}

body {
	color: white;
	font-family: "FixedsysMono Nerd Font Mono", "Fixedsys Excelsior 3.01", monospace;
	font-size: 16px;
	tab-size: 4;
	background: url("/assets/images/background.png") center center no-repeat fixed;
	background-size: cover;
}

main {
	overflow: auto;
}

pre, p {
	font-size: inherit;
	font-family: inherit;
	margin: 0;
	padding: 0;
}

strong, summary, h1 {
	font-size: inherit;
	font-weight: inherit;
	text-decoration: underline;
	color: gold;
}

em {
	color: gray;
}

a {
	color: inherit;
	text-decoration: dotted underline lightgray;
	transition: text-decoration 0.5s;
}

a:hover {
	text-decoration-color: lightskyblue;
}

details:is([open]) {
	margin-bottom: 1em;
}

noscript {
	color: red;
}

.datetime {
	color: darkgray;
}