footer {
	width: 100%;
	box-sizing: border-box;
	text-align: center;

	position: relative;
	margin-top: 0.5em;
	padding-top: 0.5em;
}

footer::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 0;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);

	border: gray 1px solid;
	border-radius: 1px;
	box-shadow: gray 0 0 10px;
}