nav {
	--background-color: #2B2B2B;

	width: 100%;
	box-sizing: border-box;
	border-radius: 0.75em;
	background: var(--background-color);
	text-align: center;

	position: relative;
	padding: 0.25em;
	margin: 0.5em 0 1.5em 0;
}

@property --border-rotation {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

@keyframes border-rotate {
	from {
		--border-rotation: 0deg;
	}
	to {
		--border-rotation: 360deg;
	}
}

nav::before, nav::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;

	border-radius: 0.75em;
	background: conic-gradient(from var(--border-rotation), transparent, #5F4100, transparent, gray, transparent);
	padding: 2px;
	animation: border-rotate 10s linear infinite;
}

nav::before {
	filter: blur(10px);
}